html {
    /* Set this to the height of your fixed navbar */
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

header {
    background-color: #187f58;
    color: var(--color-foreground);
}

#search-input {
    background-color: var(--color-background);
    color: var(--color-foreground);
}


#search-input:focus-visible {
    outline: unset;
    box-shadow: unset;
    color: var(--color-foreground) !important;
}